
<h1 align="center">Calc-form.php Call REST Web Services</h1>
<form action = "register.php">
<p>
<label>
<input type="radio" name="operation" value="add" checked>
add</label>
<br>
<label>
<input type="radio" name="operation" value="remove">
remove</label>
</p>
<p> Input firstname :
<input type="text" name="firstname" value="0">
</p>
<p>Input lastname :
<input type="text" name="lastname" value="0">
</p>
<p>
<input type="submit" name="Submit" value="OK">
</p>
</form>
